@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}
 
.topmenu {
	display: block;
	width: 220px;
	border: 2px solid #E4393C;
}
 
.toptitle {
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 11pt;
	font-weight: bold;
	color: white;
	background: #e4393c;
	padding-left: 8px;
	z-index: 3;
}
 
.topmenu li {
	height: 30px;
	font-size: 11pt;
	line-height: 30px;
	text-align: left;
	list-style: none;
	padding-left: 8px;
	z-index: 3;
	background: url(../img/1.png) no-repeat right;
}
 
.topmenu li a {
	text-decoration: none;
	color: #313131;
}
 
.topmenu li:hover {
	border: 1px solid #ddd;
	border-right: none;
	box-shadow: 0 0 8px #ddd;
	-moz-box-shadow: 0 0 8px #ddd;
	-webkit-box-shadow: 0 0 8px #ddd;
	background-image: none;
}
 
.topmenu li a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #e4393c;
}
 
.submenu {
	display: none;
	width: 715px;
	position: absolute;
	top: 40px;
	left: 220px;
	border: 1px solid #ddd;
	z-index: 4;
	box-shadow: 0 0 8px #ddd;
	-moz-box-shadow: 0 0 8px #ddd;
	-webkit-box-shadow: 0 0 8px #ddd;
	background: white;
}
 
.left {
	float: left;
	width: 490px;
	margin: 5px;
}
 
.right {
	float: left;
	width: 200px;
	margin: 5px;
}
 
.topmenu li:hover .submenu {
	display: block;
}
 
.topmenu li:hover span {
	display: inline-block;
	background: white;
	z-index: 20;
	width: 20px;
	height: 30px;
	float: right;
	position: relative;
}
 
.left dl {
	display: block;
	border-bottom: 1px solid #eee;
	padding-bottom: 6px;
	overflow: hidden;
}
 
.left dl dt {
	display: block;
	float: left;
	width: 60px;
	text-align: right;
	padding-right: 6px;
	height: 22px;
	line-height: 22px;
}
 
.left dl dt a {
	color: #e4393c;
	font-weight: bold;
	text-decoration: underline;
	font-size: 10pt;
}
 
.left dl dd {
	display: block;
	overflow: hidden;
}
 
.left dl dd a {
	display: block;
	float: left;
	border-left: 1px solid #ccc;
	color: #737373;
	font-size: 9pt;
	padding: 0 8px;
	height: 14px;
	line-height: 14px;
	margin: 4px 0;
}
 
.right dl dt {
	color: #E4393C;
	font-weight: bold;
	font-size: 10pt;
}
 
.right dl dd {
	margin: 3px 0;
}
 
.right dl dd a {
	font-size: 9pt;
	color: #737373;
	line-height: 22px;
}
 
.right dl dd a:hover {
	font-weight: normal;
	color: #737373;
}
 
.rightPic {
	position: relative;
	right: -35px;
	bottom: -30px;
}