<!DOCTYPE html>
<html lang="en">
<head><meta name="referrer" content="no-referrer">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html">
<title>热门电影推荐</title>

<meta name="format-detection" content="telephone=no">
<link rel="icon" href="../../../../">
<link rel="shortcut icon" href="../../../../">
<link rel="stylesheet" href="../static/css/style.css">

<script src="../static/js/jquery.js"></script>
<script src="../static/js/jquery-migrate-1.1.1.js"></script>
<script src="../static/js/jquery.easing.1.3.js"></script>
<script src="../static/js/script.js"></script>
<script src="../static/js/superfish.js"></script>
<script src="../static/js/jquery.equalheights.js"></script>
<script src="../static/js/jquery.mobilemenu.js"></script>
<script src="../static/js/tmStickUp.js"></script>
<script src="../static/js/jquery.ui.totop.js"></script>
    <script src="../static/js/jquery.shuffle-images.js"></script>
    <script>
 $(window).load(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
 });

 $(document).ready(function(){
       $(".shuffle-me").shuffleImages({
         target: ".images > img"
       });
    });

</script>

</head>

<body>
<!--==============================
              header
=================================-->
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h1><a href="">电影推荐系统 </a></h1>
          Film Recommendation System
        </div>
      </div>
    </div>
  </div>
  <section id="stuck_container">
  <!--==============================
              Stuck menu
  =================================-->
    <div class="container">
      <div class="row">
        <div class="grid_12 ">
          <h1 class="logo">
            <a href="">
               Movie.Folio
            </a>
          </h1>
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="home">主页</a></li>
               <li class="current"><a href="rank">热门电影推荐</a></li>
               <li><a href="similar">相似电影推荐</a></li>
               <li><a href="guess">猜我喜欢</a></li>
                  <li><a href="choice">选电影</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>       
         <div class="clear"></div>  
        </div>
     </div> 
    </div> 
  </section>
</header>
<!--Content-->
<!--固定边框-->
<div id="plane" botoffset="100px" style="width: 74px; display: block;">
    
    <!-- 打底数据 -->
        
    
    <ul class="plane-bd">
    <li>
        <a href="#xiju" >
            <span >  &nbsp; 喜剧</span>
            <hr width=-10   color="#999999" >
            
        </a>
        
    </li>

    <li>
        <a href="#kehuan" >
            <span> &nbsp; 科幻</span>
            <hr width=-10  color="#999999" >
        </a>
    </li>
    <li>
        <a href="#xuanyi" >
            <span> &nbsp; 悬疑</span>
            <hr width=-10  color="#999999" >
        </a>
    </li>
    <li>
        <a href="#donghua"  data-ajax83="ys_dy_index_vip_2">
            <span> &nbsp; 动画</span>
            <hr width=-10   color="#999999" >
        </a>
    </li>
       <li>
        <a href="#lenmen"  data-ajax83="ys_dy_index_vip_2">
            <span> &nbsp; 冷门</span>
            <hr width=-1   color="#999999" >
        </a>
    </li>

</ul>
</div>
<!--评分-->
<div class="box0" style="margin-left: 330px">
<p class="pname" >评分最高</p>
<ul class="box">
    {% for answer in data %}
    <li style="padding:30px  10px 50px;">
        <div class="pic">
            <img data-src={{answer[9]}} src={{answer[9]}} alt="数据超时" style="display: block;width:150px;height:222px;overflow:hidden;">
            <a class="aPlayBtn" target="_blank" href={{answer[5]}} data-ajax83="ys_dy_index_vip_1"></a>
        </div>
<div class="box_bot_title" style="color:#e8e6b9;height:50px;width:152px;position:absolute;">
                    <p class="name_movie" style="text-align:center;padding:10px;">
                {{answer[1]}}  &nbsp
                        <a target="_blank" class="movie_name" href={{answer[5]}} data-ajax83="ys_dy_index_vip_1">{{answer[0]}}</a></p></div>
    </li> {% endfor %}</ul>
<br>
<br>
</div>
<!--本年佳片-->
<div class="box0" style="margin-left: 330px">
<p class="pname" >本年佳片</p>
<ul class="box">
    {% for answer in jinnian %}
    <li style="padding:30px  10px 50px;">
        <div class="pic">
            <img data-src={{answer[9]}} src={{answer[9]}} alt="数据超时" style="display: block;width:150px;height:222px;overflow:hidden;">
            <a class="aPlayBtn" target="_blank" href={{answer[12]}} data-ajax83="ys_dy_index_vip_1"></a>
        </div>
<div class="box_bot_title" style="color:#e8e6b9;height:50px;width:152px;position:absolute;padding:0px;">
                    <p class="name_movie" style="text-align:center;padding:10px;">
                {{answer[1]}}
                        <a target="_blank" class="movie_name" href={{answer[5]}} data-ajax83="ys_dy_index_vip_1">{{answer[0]}}</a></p></div>
      </li> {% endfor %}</ul></div>
<br>
<br>
<!--喜剧-->
<div class="box0" id="xiju" style="margin-left: 330px">
<p class="pname" >喜剧</p>
<ul class="box">
    {% for answer in xiju %}
    <li style="padding:30px  10px 50px;">
        <div class="pic">
            <img data-src={{answer[9]}} src={{answer[9]}} alt="数据超时" style="display: block;width:150px;height:222px;overflow:hidden;">
            <a class="aPlayBtn" target="_blank" href={{answer[12]}} data-ajax83="ys_dy_index_vip_1"></a>
        </div>
<div class="box_bot_title" style="color:#e8e6b9;height:50px;width:152px;position:absolute;padding:0px;">
                    <p class="name_movie" style="text-align:center;padding:10px;">
                {{answer[1]}}
                        <a target="_blank" class="movie_name" href={{answer[5]}} data-ajax83="ys_dy_index_vip_1">{{answer[0]}}</a></p></div>
  </li> {% endfor %}</ul>
</div>
<br>
<br>
<!--科幻-->
<div class="box0" id="kehuan" style="margin-left: 330px">
<p class="pname" >科幻</p>
<ul class="box">
    {% for answer in kehuan %}
    <li style="padding:30px  10px 50px;">
        <div class="pic">
            <img data-src={{answer[9]}} src={{answer[9]}} alt="数据超时" style="display: block;width:150px;height:222px;overflow:hidden;">
            <a class="aPlayBtn" target="_blank" href={{answer[12]}} data-ajax83="ys_dy_index_vip_1"></a>
        </div>
<div class="box_bot_title" style="color:#e8e6b9;height:50px;width:152px;position:absolute;padding:0px;">
                    <p class="name_movie" style="text-align:center;padding:10px;">
                {{answer[1]}}
                        <a target="_blank" class="movie_name" href={{answer[5]}} data-ajax83="ys_dy_index_vip_1">{{answer[0]}}</a></p></div>
    </li> {% endfor %}</ul></div>
<br>
<br>
<!--悬疑-->
<div class="box0" id="xuanyi" style="margin-left: 330px">
<p class="pname" >悬疑</p>
<ul class="box">
    {% for answer in xuanyi %}
    <li style="padding:30px  10px 50px;">
        <div class="pic">
            <img data-src={{answer[9]}} src={{answer[9]}} alt="数据超时" style="display: block;width:150px;height:222px;overflow:hidden;">
            <a class="aPlayBtn" target="_blank" href={{answer[12]}} data-ajax83="ys_dy_index_vip_1"></a>
        </div>
<div class="box_bot_title" style="color:#e8e6b9;height:50px;width:152px;position:absolute;padding:0px;">
                    <p class="name_movie" style="text-align:center;padding:10px;">
                {{answer[1]}}
                        <a target="_blank" class="movie_name" href={{answer[5]}} data-ajax83="ys_dy_index_vip_1">{{answer[0]}}</a></p></div>
    </li> {% endfor %}</ul></div>
<br>
<br>
<!--动画-->
<div class="box0"style="margin-left: 330px" id="donghua">
<p class="pname" >动画</p>
<ul class="box">
    {% for answer in donghua %}
    <li style="padding:30px  10px 50px;">
        <div class="pic">
            <img data-src={{answer[10]}} src={{answer[10]}} alt="数据超时" style="display: block;width:150px;height:222px;overflow:hidden;">
            <a class="aPlayBtn" target="_blank" href={{answer[6]}} data-ajax83="ys_dy_index_vip_1"></a>
        </div>
<div class="box_bot_title" style="color:#e8e6b9;height:50px;width:152px;position:absolute;padding:0px;">
                    <p class="name_movie" style="text-align:center;padding:10px;">
                {{answer[2]}}
                        <a target="_blank" class="movie_name" href={{answer[6]}} data-ajax83="ys_dy_index_vip_1">{{answer[1]}}</a></p></div>
    </li> {% endfor %}</ul></div>
<br>
<br>
<!--冷门-->
<div class="box0"  style="margin-left: 330px" id="lenmen">
<p class="pname" >冷门佳片</p>
<ul class="box">
    {% for answer in lenmen %}
    <li style="padding:30px  10px 50px;">
        <div class="pic">
            <img data-src={{answer[9]}} src={{answer[9]}} alt="数据超时" style="display: block;width:150px;height:222px;overflow:hidden;">
            <a class="aPlayBtn" target="_blank" href={{answer[12]}} data-ajax83="ys_dy_index_vip_1"></a>
        </div>
<div class="box_bot_title" style="color:#e8e6b9;height:50px;width:152px;position:absolute;padding:0px;">
                    <p class="name_movie" style="text-align:center;padding:10px;">
                {{answer[1]}}
                        <a target="_blank" class="movie_name" href={{answer[5]}} data-ajax83="ys_dy_index_vip_1">{{answer[0]}}</a></p></div>
    </li> {% endfor %}</ul></div>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12"> 
        <h2>电影推荐系统</h2>
        <div class="footer_phone"></div>
        <a href="" class="footer_mail">info@mr.tang.org</a>
        <div class="sub-copy"> <a href="../../../../Index.html" target="_blank" >数据Data</a> - Collect from <a href="https://movie.douban.com/annual/2019?source=navigation">豆瓣</a></div>
      </div>
    </div>

  </div>  
</footer>
<a href="" id="toTop" class="fa fa-chevron-up"></a>
</body>
</html>

