<!DOCTYPE html><!--[if lt IE 7]>
<html class="ie6 ielt8"><![endif]--><!--[if IE 7]>
<html class="ie7 ielt8"><![endif]--><!--[if IE 8]>
<html class="ie8"><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
<html><!--<![endif]-->
<head>
    <meta name="referrer" content="no-referrer">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta content="1905 电视剧 电影" name="description"/>

    <title>电影推荐系统
    </title>
    <link rel="shortcut icon" href="//vip.1905.com/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/base.min.css">

    <link rel="stylesheet" href="../static/css/common20190617.css">
    <link rel="stylesheet" href="../static/css/client.css">
    <script src="../static/js/tmStickUp.js"></script>

    <script src="../static/js/html5shiv.js"></script><![endif]-->

    <style>        #oa-2832689457-123-14672-1548292083554 {
            height: 123px;
            padding: 10px;
            background-color: #fff;
        }

        #gap_bottom {
            height: 10px;
            background-color: #f2f2f2;
        }



    </style>
    <script type="text/javascript">

var a=document.getElementsByClassName(‘wo’)[0].getElementsByTagName(‘a’);

for (var i = 0; i < a.length; i++) {

a[i].onclick=function(){
alert("666")

ock(event);

}

}
function ock(e){

var a=e.target;

var child=a.parentNode.childNodes;

a.className="active";

alert("111")

for (var i = 0; i < child.length; i++) {

if(child[i]!=a){

child[i].className="";



}

}

}

</script>
</head>
<body>
<header><!--<div class="wrap_fix white_f clearfix_smile">-->
    <div class="wrap white_f clearfix_smile" id="top">
        <div class="fr">
            <div class="fl search">
                <div class="searchBG inner1_search">
                    <div class="searchBG inner2_search">
                        <div class="searchBG inner3_search clearfix_smile">
                            <form target="_blank" action="/Search" name="search_box" method="get"><input type="text"
                                                                                                         name="q"
                                                                                                         class="fl txt txtInput"
                                                                                                         value=""
                                                                                                         autocomplete="off"><input
                                    type="submit" class="icons btn txtHidden" value="搜索"></form>
                        </div>
                    </div>
                </div>
                <div class="f_song searchList">
                    <ul class="inner_list"></ul>
                </div>
            </div>
            <div class="fl popBox popBox_mobile search_mobile">
                <div class="fl popTit"><b class="icons eleIcon searchIcon"></b></div>
                <div class="f_song popLayer">
                    <div class="inner_popLayer clearfix">
                        <form target="_blank" action="/Search" name="search_box" method="get"><input type="text"
                                                                                                     name="q"
                                                                                                     class="fl bdr3"
                                                                                                     value=""
                                                                                                     autocomplete="off"><input
                                type="submit" class="fr bdr3" value="搜索"></form>
                    </div>
                </div>
            </div>
            <div class="fl uc">
                <div class="fl popBox ele_uc catalog hidden1262">
                    <div class="fl popTit"><b class="icons eleIcon catalogIcon"></b><a href="../home">首页</a><b
                            class="icons arrowIcon"></b></div>
                </div><!-- 电视剧库begin -->
            </div>
        </div>
    </div>
</header>
<div class="page page_catalog">
    <div class="wrap_fix">
        <div class="catalogList">
            <ul class="inner_catalogList">
                <li class="clearfix_smile">
                    <div class="fl clr6 label">按类型</div>
                    <div class="f_song con clearfix_smile">

                        <div class = "tab-content" style="width:100%; float:left;">




                            <a class="active" href="choice1">全部</a>
                        <a   href="../choices/动作">动作</a><a href="../choices/喜剧">喜剧</a><a
                            href="../choices/爱情">爱情</a><a href="../choices/冒险">冒险</a><a
                            href="../choices/文艺">文艺</a><a href="../choices/惊悚">惊悚</a><a
                            href="../choices/青春">青春</a><a href="../choices/战争">战争</a><a
                            href="../choices/女性">女性</a><a href="../choices/科幻">科幻</a><a
                            href="../choices/家庭">家庭</a><a href="../choices/警匪">警匪</a><a
                            href="../choices/体育">体育</a><a href="../choices/神话">神话</a><a
                            href="../choices/武侠">武侠</a><a href="../choices/乡村">乡村</a><a
                            href="../choices/动画">动画</a><a href="../choices/少儿">少儿</a><a
                            href="../choices/传记">传记</a><a href="../choices/灾难">灾难</a><a
                            href="../choices/剧情">剧情</a><a href="../choices/经典">经典</a><a
                                    href="../choices/悬疑">悬疑</a><a href="../choices/历史">历史</a><!--  --></div></div>
                </li>
                <li class="clearfix_smile">
                    <div class="fl clr6 label">按年代</div>
                    <div class="f_song con clearfix_smile"><div class="wo"
                        ><a class="active" href="#">全部</a><a
                            href="#2020">2020</a><a href="#2019">2019</a><a
                            href="#2018">2018</a><a href="#2017">2017</a><a
                            href="#2016">2016</a><a href="#20150">2015-2000</a>
                        <a href="#2000">更早</a></div></div>
                </li>
            </ul>
        </div>
        <div class="sortCon movieList">
            <div class="listBox" id="2020">
                <!--<p style="font-size:300%;font-weight: bold;color: block;">2020</p>-->
                <ul class="list clearfix_smile">
                        {% for answer in y2020 %}
                    <li class="borderBox"><a class="img" href={{answer[11]}} target="_blank"
                                             title={{answer[0]}} bind="postHover" data-id="1355254" data-type='1'><img
                            src={{answer[19]}}
                            class="lazyImg" width="220" height="318" alt="红剪花"><span class="mask"></span><b
                            class="icons playIcon"></b></a><span class="fr score">{{answer[2]}}</span>
                        <h3 class="txt"><a href={{answer[11]}} target="_blank" title=""><span
                                class="name">{{answer[0]}}</span><span class="f_song intro"></span><span
                                class="hidden year"></span><span class="hidden ename"></span><span
                                class="hidden actor"></span><span class="hidden descr"></span><span
                                class="hidden url"></span></a></h3></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="listBox" id="2019">
                <p class="year" style="font-size:300%;font-weight: bold;color: block;">2019</p>
                <ul class="list clearfix_smile">
                        {% for answer in y2019 %}
                    <li class="borderBox"><a class="img" href={{answer[11]}} target="_blank"
                                             title={{answer[0]}} bind="postHover" data-id="1355254" data-type='1'><img
                            src={{answer[19]}}
                            class="lazyImg" width="220" height="318" alt="红剪花"><span class="mask"></span><b
                            class="icons playIcon"></b></a><span class="fr score">{{answer[2]}}</span>
                        <h3 class="txt"><a href={{answer[11]}} target="_blank" title=""><span
                                class="name">{{answer[0]}}</span><span class="f_song intro"></span><span
                                class="hidden year"></span><span class="hidden ename"></span><span
                                class="hidden actor"></span><span class="hidden descr"></span><span
                                class="hidden url"></span></a></h3></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="listBox" id="2018">
                <p class="year" style="font-size:300%;font-weight: bold;color: block;">2018</p>
                <ul class="list clearfix_smile">
                        {% for answer in y2018 %}
                    <li class="borderBox"><a class="img" href={{answer[11]}} target="_blank"
                                             title={{answer[0]}} bind="postHover" data-id="1355254" data-type='1'><img
                            src={{answer[19]}}
                            class="lazyImg" width="220" height="318" alt="红剪花"><span class="mask"></span><b
                            class="icons playIcon"></b></a><span class="fr score">{{answer[2]}}</span>
                        <h3 class="txt"><a href={{answer[11]}} target="_blank" title=""><span
                                class="name">{{answer[0]}}</span><span class="f_song intro"></span><span
                                class="hidden year"></span><span class="hidden ename"></span><span
                                class="hidden actor"></span><span class="hidden descr"></span><span
                                class="hidden url"></span></a></h3></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="listBox" id="2017">
                <p class="year" style="font-size:300%;font-weight: bold;color: block;">2017</p>
                <ul class="list clearfix_smile">
                        {% for answer in y2017 %}
                    <li class="borderBox"><a class="img" href={{answer[11]}} target="_blank"
                                             title={{answer[0]}} bind="postHover" data-id="1355254" data-type='1'><img
                            src={{answer[19]}}
                            class="lazyImg" width="220" height="318" alt="红剪花"><span class="mask"></span><b
                            class="icons playIcon"></b></a><span class="fr score">{{answer[2]}}</span>
                        <h3 class="txt"><a href={{answer[11]}} target="_blank" title=""><span
                                class="name">{{answer[0]}}</span><span class="f_song intro"></span><span
                                class="hidden year"></span><span class="hidden ename"></span><span
                                class="hidden actor"></span><span class="hidden descr"></span><span
                                class="hidden url"></span></a></h3></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="listBox" id="2016">
                <p class="year" style="font-size:300%;font-weight: bold;color: block;">2016</p>
                <ul class="list clearfix_smile">
                        {% for answer in y2016 %}
                    <li class="borderBox"><a class="img" href={{answer[11]}} target="_blank"
                                             title={{answer[0]}} bind="postHover" data-id="1355254" data-type='1'><img
                            src={{answer[19]}}
                            class="lazyImg" width="220" height="318" alt="红剪花"><span class="mask"></span><b
                            class="icons playIcon"></b></a><span class="fr score">{{answer[2]}}</span>
                        <h3 class="txt"><a href={{answer[11]}} target="_blank" title=""><span
                                class="name">{{answer[0]}}</span><span class="f_song intro"></span><span
                                class="hidden year"></span><span class="hidden ename"></span><span
                                class="hidden actor"></span><span class="hidden descr"></span><span
                                class="hidden url"></span></a></h3></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="listBox" id="2015-2000">
                <p class="year" style="font-size:300%;font-weight: bold;color: block;">2015-2000</p>
                <ul class="list clearfix_smile">
                        {% for answer in y15_00 %}
                    <li class="borderBox"><a class="img" href={{answer[11]}} target="_blank"
                                             title={{answer[0]}} bind="postHover" data-id="1355254" data-type='1'><img
                            src={{answer[19]}}
                            class="lazyImg" width="220" height="318" alt="红剪花"><span class="mask"></span><b
                            class="icons playIcon"></b></a><span class="fr score">{{answer[2]}}</span>
                        <h3 class="txt"><a href={{answer[11]}} target="_blank" title=""><span
                                class="name">{{answer[0]}}</span><span class="f_song intro"></span><span
                                class="hidden year"></span><span class="hidden ename"></span><span
                                class="hidden actor"></span><span class="hidden descr"></span><span
                                class="hidden url"></span></a></h3></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="listBox" id="2000">
                <p class="year" style="font-size:300%;font-weight: bold;color: block;">1900-2000</p>
                <ul class="list clearfix_smile">
                        {% for answer in y2000 %}
                    <li class="borderBox"><a class="img" href={{answer[11]}} target="_blank"
                                             title={{answer[0]}} bind="postHover" data-id="1355254" data-type='1'><img
                            src={{answer[19]}}
                            class="lazyImg" width="220" height="318" alt="红剪花"><span class="mask"></span><b
                            class="icons playIcon"></b></a><span class="fr score">{{answer[2]}}</span>
                        <h3 class="txt"><a href={{answer[11]}} target="_blank" title=""><span
                                class="name">{{answer[0]}}</span><span class="f_song intro"></span><span
                                class="hidden year"></span><span class="hidden ename"></span><span
                                class="hidden actor"></span><span class="hidden descr"></span><span
                                class="hidden url"></span></a></h3></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<ul class="white_f sideBar_help_webSite" id="sideBar_help_webSite" >
    <li>
    <a class="goTop" href="#top">
    <b class="icons" style="background: url(../static/images/icons.png) no-repeat;" ></b>返回顶部</a></li>
</ul>

<script type="text/javascript" src="../static/js/pingd.js"></script>
<script src="../static/js/entrance.js" class="zhiCustomBtn" id="zhichiScript" data-args=""></script>
</body>
</html>